[Unit]
Description=HyveOS Daemon
Requires=batman-neighbours-daemon.service
After=batman-neighbours-daemon.service

[Service]
ExecStart=/usr/bin/hyved
Type=exec
Restart=on-failure
User=hyveos

[Install]
WantedBy=multi-user.target
