[Unit]
Description=P2P Industries Stack
Requires=batman-neighbours-daemon.service
After=batman-neighbours-daemon.service

[Service]
ExecStart=/usr/bin/p2p-industries-stack
Type=exec
Restart=on-failure
User=p2p-industries

[Install]
WantedBy=multi-user.target
